.ProfileContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
}

.InfoContainer,
.PictureContainer {
  background-color: #fff;
  border-radius: 1rem;

  padding: 1.6rem;
}

.PictureContainer {
  grid-column: 1 / 3;
  height: 30rem;
}

.PictureContainer > h2,
.InfoContainer > h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

.ImgContainer {
  padding: 2rem 0;
  text-align: center;
}

.ImgContainer img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.PictureBtn {
  font-size: 1.4rem;

  width: 80%;
}

.InfoInputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-top: 2rem;
}

.InfoInputContainer input {
  outline-color: var(--main-color);
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 1rem;

  border: 1px solid gray;
}

.InfoContainer .PictureBtn {
  width: 100%;
}

.PasswordChangeContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.InfoContainer {
  grid-column: -3 / -1;

  display: flex;
  flex-direction: column;
}

.InfoListItem {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  font-size: 1.6rem;

  padding-left: 1rem;
}

.InfoListItem h4 {
  font-weight: 500;
}

.InfoListItem input {
  outline: none;
  height: 3rem;
  width: 40%;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.InfoTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
