.ParagraphContainer {
  padding: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.115);

  border-radius: 15px;

  background-color: #fff;
}
.ParagraphContainer:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.ShortShowContainer {
  overflow: hidden;
  cursor: pointer;
  height: 25rem;

  word-break: break-all;
  text-wrap: wrap;

  transition: all 0.2s;
}

.InfoContainer {
  margin-top: 1rem;
}

.InfoContainer h6 {
  font-size: 2rem;
  line-height: 1.1;
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.InfoContainer div {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
}
