.TargetCard {
  user-select: none;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

  grid-column: 4 / 5;
  padding: 1.2rem;
}

.TargetTitle {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 0.8rem;
}

.TargetDays {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: var(--dark-main-color);
}

.TargetDays span {
  font-size: 2rem;
}

.Intro {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--dark-main-color);
}
